*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/modulesJavalib/bin
/cmakedemo/src/dylib/build
/cmakedemo/src/staticlib/build
/app/keystores/.idea
/modulesJavalib/src/main/java/com/fan/collect/java/jni/struct_test.exe
/modulesJavalib/src/main/java/com/fan/collect/java/jni/struct_test2.exe
/gradletest/.idea
/gradletest/bin
/gradletest/build/tmp
/gradletest/build/classes
/gradletest/build
