<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fan.collect.module.androidversion">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_collect">
        <activity
            android:name=".storage.GuideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fileprovider.FileProviderActivity"></activity>

        <activity
                android:name=".storage.StorageActivity1"
                android:exported="true">
        </activity>

        
        <!--
        https://www.jianshu.com/p/c87ff5eda539
        https://blog.csdn.net/lmj623565791/article/details/72859156?spm=1001.2101.3001.6650.2&utm_medium=distribute.pc_relevant.none-task-blog-2%7Edefault%7ELandingCtr%7ERate-2.queryctrv4&depth_1-utm_source=distribute.pc_relevant.none-task-blog-2%7Edefault%7ELandingCtr%7ERate-2.queryctrv4&utm_relevant_index=5
            name ：配置当前 FileProvider 的实现类。
            authorities：配置一个 FileProvider 的名字，它在当前系统内需要是唯一值。
            exported：表示该 FileProvider 是否需要公开出去，传 false 表示不公开。 限制其他应用获取Provider。
            granUriPermissions：是否允许授权文件的临时访问权限。传true 允许它授予 Uri 临时的权限.生成出一个 content:// 的 Uri 对象之后，其实也无法对其直接使用，还需要对这个 Uri 接收的 App 赋予对应的权限才可以.Context.grantUriPermission() 为其他 App 授予 Uri 对象的访问权限。
        -->
        <provider
                android:exported="false"
                android:grantUriPermissions="true"
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileProvider">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <!-- XXPermissions 表示当前项目已经适配了分区存储特性 -->
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />
    </application>

</manifest>