<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fan.collect.module.main">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application>
        <activity android:name="com.fan.collect.main.MainActivity"></activity>

        <!-- android:theme="@android:style/Theme.Dialog" -->

        <activity android:name="com.fan.collect.main.study.activity.launch.singletask.ComponentsDemo"></activity>
        <activity android:name="com.fan.collect.main.study.activity.launch.singletask.Activity1"></activity>
        <activity android:name="com.fan.collect.main.study.activity.launch.singletask.Activity2" android:theme="@android:style/Theme.Material.Dialog"></activity>
        <activity android:name="com.fan.collect.main.study.activity.launch.singletask.Activity3" android:taskAffinity="com.fan.collect2" android:launchMode="singleTask"></activity>
        <activity android:name="com.fan.collect.main.study.view.CustomViewActivity"></activity>
        <activity android:name="com.fan.collect.main.study.network.NetworkCheckActivity"></activity>
        <activity android:name="com.fan.collect.main.study.language.MulLanguage" android:configChanges="locale" ></activity>
        <activity android:name="com.fan.collect.main.study.google.GoogleLoginActivity"></activity>
        <activity android:name="com.fan.collect.main.study.image.ImageoptActivity"></activity>
        <activity android:name="com.fan.collect.main.study.facebook.FaceBookLoginActivity"></activity>
        <activity android:name="com.fan.collect.main.study.google.GoogleUmpActivity"></activity>

        <!--https://developers.google.com/games/services/android/quickstart?hl=zh-cn-->
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/google_play_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <!-- admob ca-app-pub-3940256099942544~3347511713 官方测试ump https://developers.google.com/admob/android/quick-start?hl=zh-cn-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <!-- facebook -->

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <!--com.facebook.sdk.ClientToken 13以上 -->
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- facebook -->

        <activity android:name="com.fan.collect.main.study.appsflyer.AppsflyerActivity"></activity>

    </application>
</manifest>